{% extends "application/templates/base.html" %}

{% block extra_css %}
{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block content %}
    <h1>
      Start a new lab.
    </h1>

   <form role="form" action="/compute-lab/new" method="post" >
      <div class="form-group">
	    <label for="lab-name">Name of Lab</label>
	    <input type="text" class="form-control" name="lab-name" placeholder="">
	  </div>
	  <div class="form-group">
	    <label for="project-id">Project ID</label>
	    <input type="text" class="form-control" name="project-id" placeholder="">
	  </div>
      <div class="form-group">
	    <label for="lab-zone">Lab Zone</label>
	    <input type="text" class="form-control" name="lab-zone" placeholder="">
	  </div>
      <div class="form-group">
	    <label for="instance-image">Instance Image</label>
	    <input type="text" class="form-control" name="instance-image" placeholder="">
	  </div>
      <div class="form-group">
	    <label for="machine-type">Machine Type</label>
	    <input type="text" class="form-control" name="machine-type" placeholder="">
	  </div>
      <div class="form-group">
	    <label for="total-students">Number of Students</label>
	    <input type="number" class="form-control" name="total-students" placeholder="">
	  </div>

	  <button type="submit" class="btn btn-default">Submit</button>
	</form>


{% endblock %}
