{% extends "application/templates/base.html" %}

{% block extra_css %}
{% endblock %}

{% block extra_javascript %}
    <script type="text/javascript">
        function getInstanceData(){
            $.ajax({
                type: "POST",
                url: "/lab/get-status",
                dataType: 'json',
                data: JSON.stringify({ "lab_id": {{lab_id}}})
                })
            .done(function( data ) {
                var content = '';
                for(var i=0; i<data.length; i++){
                    content += '<tr>';
                    content += '<td>'+data[i].address+'</td>';
                    content += '<td>'+data[i].state+'</td>';
                    content += '<td>'+data[i].name+'</td>';
                    content += '<td>'+data[i].pass+'</td>';

                    if (data[i].state == "RUNNING") {
                        content += '<td>'+'<a id="'+data[i].name+'_button"; title="Click to stop instance" href="#" onclick="stopInstance(&#34;'+data[i].name+'&#34;);return false;" class="btn btn-danger" >Stop Instance</a>'+'</td>';
                    } else {
                        content += '<td>'+'<a href="#" class="btn btn-danger disabled" >Stop Instance</a>'+'</td>';
                    }

                    content += '</tr>';
                }
                $('#instance-table tbody').html(content);
            });
        };

        $( document ).ready(function() {
            getInstanceData();
        });

        $(function() {
            setInterval( "getInstanceData()", 10000);
        });

        function stopInstance(instanceName){
            console.log(instanceName+"_button");
            $('#'+instanceName+'_button').attr('disabled', true);

            $.ajax({
                type: "POST",
                url: "/lab/stop-instance",
                dataType: 'json',
                data: JSON.stringify({ "lab_id": {{lab_id}},
                                       "option": "single",
                                       "instance_name": instanceName})
            })
            .done(function( data ) {
                getInstanceData();
            });
        };

        function stopLab(){
            $(this).attr("disabled", "disabled");
            $.ajax({
                type: "POST",
                url: "/lab/stop-instance",
                dataType: 'json',
                data: JSON.stringify({ "lab_id": {{lab_id}},
                                       "option": "all"
                                       })
            })
            .done(function( data ) {
                getInstanceData();
            });
        };

    </script>



{% endblock %}

{% block content %}
    <h1>Lab: {{lab_name}} <a href="javascript:stopLab();" onclick="this.disabled=true" class="btn btn-danger" >Stop Lab</a></h1>
    <hr>

    <table class="table" id="instance-table">
      <thead>
        <tr>
          <th class="col-sm-3">IP Address</th>
          <th class="col-sm-3">Status</th>
          <th class="col-sm-3">Username</th>
          <th class="col-sm-3">Password</th>
          <th class="col-sm-3">Stop/Start</th>
        </tr>
      </thead>
        <tbody>

        </tbody>
    </table>

    <a href="javascript:getInstanceData();" >Refresh</a>

{% endblock %}
