{% extends "application/templates/base.html" %}

{% block extra_css %}
{% endblock %}

{% block extra_javascript %}
    <script type="text/javascript">
        function getInstanceData(){
            $.ajax({
                type: "POST",
                url: "/compute-lab/get-status",
                dataType: 'json',
                data: JSON.stringify({ "lab_id": {{lab_id}}})
                })
            .done(function( data ) {
                var content = '';
                for(var i=0; i<data.length; i++){
                    content += '<tr>';
                    content += '<td>'+data[i].address+'</td>';
                    content += '<td>'+data[i].state+'</td>';
                    content += '<td>'+data[i].name+'</td>';
                    content += '<td>'+data[i].pass+'</td>';

                    content += '</tr>';
                }
                $('#instance-table tbody').html(content);
                });
        };

        $( document ).ready(function() {
            getInstanceData();
        });

        $(function() {
            setInterval( "getInstanceData()", 10000);
        });
    </script>

{% endblock %}

{% block content %}
    <h1>Lab: {{lab_name}}</h1>
    <hr>

    <table class="table" id="instance-table">
      <thead>
        <tr>
          <th class="col-sm-4">IP Address</th>
          <th class="col-sm-4">Status</th>
          <th class="col-sm-4">Instance Name</th>
          <th class="col-sm-2">Password</th>
          <th class="col-sm-2"></th>
        </tr>
      </thead>
        <tbody>

        </tbody>
    </table>

    <a href="javascript:getInstanceData();" >Refresh</a>

{% endblock %}